# Ignore Python virtual environments
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore environment files
embeddings/.env

# ignore pickle and log files
embeddings/src/robust_steganography/datasets/*.pkl
embeddings/src/robust_steganography/models/*.pkl
embeddings/temp_pca/*.pkl

# ignore enron email data files
embeddings/enron_emails/**/*.pkl
embeddings/enron_emails/**/*.json
embeddings/enron_emails/**/*.npy

# ignore measurement checkpoints
measurements/checkpoints/
measurements/watermarked_texts/

__pycache__/
.pytest_cache/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
