# Ignore Python virtual environments
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore environment files
/embeddings/env.sh

# ignore pickle and log files
/embeddings/src/robust_steganography/datasets/*.pkl
/embeddings/src/robust_steganography/models/*.pkl

__pycache__/