# Ignore Python virtual environments
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore environment files
.env

# ignore pickle and log files
embeddings/datasets/*.pkl
embeddings/models/*.pkl
embeddings/temp_pca/*.pkl

# ignore enron email data files
enron_emails/**/*.pkl
enron_emails/**/*.json
enron_emails/**/*.npy

# ignore measurement checkpoints
measurements/checkpoints/
measurements/watermarked_texts/
measurements/figures/embedding_recovery_test/summaries/

__pycache__/
.pytest_cache/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
